name: Check SemVer

on:
  push:
    branches: ['main']
    tags:
      - '*'
  workflow_dispatch:

permissions: {}

jobs:
  check-semver:
    concurrency:
      group: '${{ github.workflow }}'
      cancel-in-progress: true
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: jessehouwing/actions-semver-checker@v2.0.2
        with:
          check-minor-version: error
          check-release-immutability: error
          ignore-preview-releases: true
          check-releases: error
          token: ${{ secrets.GITHUB_TOKEN }}
          auto-fix: false
